.flex-row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}

.flex-row-cent {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.centered {
  text-align: center;
}

.challenge-statement {
    width: 300px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    margin-right: 50px;
    margin-left: 25px;
}

.lightbulb-pic {
    width: 300px;
    height: 250px;
/*  flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    margin-right: 50px;
    margin-left: 25px;*/
}

.flex-row-space {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.plan-logo {
  margin-left: 15px;
  margin-top: 10px;
}

.challenge-intro {
  margin-bottom: 50px;
}

.tag-line {
  text-align: center;
}

.powered-by {
  margin-top: 50px;
}

.goals {
  margin-top: 50px;
  margin-bottom: 40px;
}

.plan-goal, .leg-goal {
  margin-bottom: 25px;
}

