/* HEADER */

.hero-header {
  background-image: url(backgrounds/snow-trees.jpg);
  background-size: cover;
}

.main-nav {
  list-style-type: none;
  margin-right: 15px;
}

.plan-logo {
  margin-left: 15px;
  margin-top: 10px;
}

.main-nav li {
  display: inline-block;
  margin-top: 5px
}

.main-nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.lcp-logo {
  margin-top: 30px;
}

.hero-header h1 {
  color: white;
  font-size: 42px;
  line-height: 38px;
  margin-left: 15px;
  margin-bottom: 0px;
}

.hero-header p {
  color: black;
  font-family: 'Futura';
  font-size: 20px;
  margin-left: 50%;
  margin-top: 50px;
}

.waba-logo {
  width: 25%;
  margin: auto;
  margin-left: 55%;
  margin-top: 30px;
}

.hero-header h2 {
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #28a39c;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* CHALLENGE */

.green {
  color: #28a39c;
}

.plan-goal {
  background-color: #28a39c;
  color: white;
  width: 325px;
  height: 275px;
  padding-left: 25px;
  padding-right: 25px;
}

.leg-goal {
  background-color: #28a39c;
  color: white;
  width: 325px;
  height: 275px;
  padding-left: 25px;
  padding-right: 25px;
}

.challenge-statement h2 {
  color: gray;
  font-size: 18px;
}

/* STRATEGY */

.strategy-banner {
  color: #28a39c;
  text-align: center;
}

.leg-goal a {
  text-decoration: none;
  color: white;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.strategy-banner {
  margin-top: 50px;
}

.strategy-banner h2 {
  color: #28a39c;
  font-size: 18px;
  margin-bottom: 25px;
}

.strategy-banner h3 {
  color: gray;
  font-size: 14px;
}

.pie-chart {
  margin-right: 50px;
  height: 90%;
  width: 90%;
}

.three-pillars {
  color: black;
  padding: 25px;
  width: 300px;
  text-align: center;
  margin: auto;
  font-size: 32px;
  margin-top: 25px;
  margin-bottom: 25px;
}


.strategy h1 {
  color: black;
  margin-top: 0px;
}

.strategy-electric h2, .strategy-efficiency h2, .strategy-transpo h2 {
  color: gray;
}

/* LEARN */

.learn h3 {
  font-size: 36px;
  color: black;
}

.learn {
  margin-left: 25px;
  margin-right: 25px;
}

.text-center {
  text-align: center;
}

.learn p {
  margin-right: 25px;
  margin-left: 25px;
}

.learn-catalyst img {
  display: inline-block;
  width: 120px;
  margin-left: 25px;
  margin-top: 50px;
}

.learn-catalyst h1 {
  display: inline-block;
  margin-left: 15px;
  text-align: center;
}

.tile {
  width: 210px;
  height: 150px;
  margin: 10px;
  position: relative;
  min-height: 150px;

}

.tile h3 {
  text-align: left;
  color: white;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 15px;
  line-height: 85%;
}

.tile a {
  text-decoration: none;
}

.tile-1 {
  background-color: #378658;
}

.tile-2 {
  background-color: #8d263e;
}

.tile-3 {
  background-color: #05998b;
}

.tile-4 {
  background-color: #4e2e4c;
}

.tile-5 {
  background-color: #04658b;
}

.tile-6 {
  background-color: #b56836;
}

/* SUPPORT */

.support {
  background-image: url(backgrounds/batteries.jpg);
  text-align: center;
  background-repeat: repeat-x;
}

.support p {
  margin-bottom: 100px
}

.button-like {
  text-decoration: none;
  color: #05998b;
  border: solid #05998b 5px;
  padding: 35px;
}


/* CONTACT */

.contact-info {
  background-image: url(backgrounds/snow-trees.jpg);
  background-size: cover;
  color: black;
  margin-top: 0px;
}

.contact a {
  color: white;
}

.contact h3 {
  background-color: #05998b;
  color: white;
  font-family: 'Nunito';
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-top: 100px;
}

.contact-info p {
  padding-bottom:25px;
  margin-top: 0px;
  padding-top: 5px;
  color: white;
  font-family: 'Nunito';
  text-align: center;
}

.copyright {
  color: white;
  text-align: center;
  background-color: rgba(125,125,125,0.5);
  padding-top: 25px;
  height: 12px;
}

.footer-logo {
  height: 60px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

