.main-nav a:hover {
  color: #28a39c;
}

.leg-goal a:hover {
  text-decoration: underline;
}

.leg-goal a:visited {
  color:white;
  text-decoration: none;
}

.tile-1:hover {
  background-image: url(backgrounds/green-tile.jpg);
}

.tile-2:hover {
  background-image: url(backgrounds/red-tile.jpg);
}

.tile-3:hover {
  background-image: url(backgrounds/teal-tile.jpg);
}

.tile-4:hover {
  background-image: url(backgrounds/purple-tile.jpg);
}

.tile-5:hover {
  background-image: url(backgrounds/blue-tile.jpg);
}

.tile-6:hover {
  background-image: url(backgrounds/orange-tile.jpg);
}

