.main-nav a:hover {
  color: #28a39c;
}

.leg-goal a:hover {
  text-decoration: underline;
}

.leg-goal a:visited {
  color:white;
  text-decoration: none;
}

.tile-1:hover {
  background-color: #4FB80A;
}

.tile-2:hover {
  background-color: #CF4A69;
}

.tile-3:hover {
  background-color: #0EF6DF;
}

.tile-4:hover {
  background-color: #8D538B;
}

.tile-5:hover {
  background-color: #07ACED;
}

.tile-6:hover {
  background-color: #D79F79;
}

